
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');


.App {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(45deg, #AEDFF7, #E3F8FF);
}

.heading {
	font-family: 'Dancing Script', cursive;
    font-size: 65px;  
}

.container {
	height: auto;
	width: 800px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

input {
	padding-left: 5px;
	font-size: 20px;
	height: 36px;
}

.middle,
.right {
	width: 120px;
}

.switch {
  padding: 15px;
  background-color: white; 
  border: 2px solid black; 
  border-radius: 50%;
  cursor: pointer;
  margin-top: 50px;
  color: black; 
}


.result {
	box-sizing: border-box;
	width: 800px;
	padding-left: 30px;
}

button {
  width: 200px;
  height:100px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
  border: 2px solid black; 
  background-color: white; 
  cursor: pointer;
  background: linear-gradient(to right, #83a4d4, #b6fbff); 
    color: #333; 
    border-radius: 8px; 
    transition: 0.3s ease; 
}


button:hover {
  background: linear-gradient(to right, #ffa726, #ffcc80); 
}

p, h3, button, .switch {
  color: #007BFF; 
}


p {
	font-size: 30px;
}

.action-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 0;
}

.conversion-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px; 
  margin-top: 20px;
}

.conversion-heading h2 {
  margin-top: 50px;
  text-align: center;  
}

.fromLabel {
  color: #007BFF;  
}

.toLabel {
  color: #FF5733;  
}

.fromCurrency, .toCurrency {
  font-weight: bold;
  font-size: 1.5em;
}